<%= form_for(@marka) do |f| %>
  <% if @marka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marka.errors.count, "error") %> prohibited this marka from being saved:</h2>

      <ul>
      <% @marka.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br />
    <% manufacturer_array = Manufacturer.all.map { |man| [man.name, man.id] } %>
    <%= f.select(:manufacturer_id, manufacturer_array) %>
  </div>
  <div class="field">
    <%= f.label :year_start %><br />
    <%= f.number_field :year_start %>
  </div>
  <div class="field">
    <%= f.label :year_end %><br />
    <%= f.number_field :year_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
