<h1>Listing markas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Year start</th>
    <th>Year end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @markas.each do |marka| %>
  <tr>
    <td><%= marka.name %></td>
    <td><%= marka.manufacturer.name%></td>
    <td><%= marka.year_start %></td>
    <td><%= marka.year_end %></td>
    <td><%= link_to 'Show', marka %></td>
    <td><%= link_to 'Edit', edit_marka_path(marka) %></td>
    <td><%= link_to 'Destroy', marka, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Marka', new_marka_path %>
