<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @marka.name %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @marka.manufacturer.name %>
</p>

<p>
  <b>Year start:</b>
  <%= @marka.year_start %>
</p>

<p>
  <b>Year end:</b>
  <%= @marka.year_end %>
</p>


<%= link_to 'Edit', edit_marka_path(@marka) %> |
<%= link_to 'Back', markas_path %>
