<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <% user_array = User.all.map { |usr| [usr.first_name, usr.id] } %>
    <%= f.select(:user_id, user_array) %>
  </div>
  <div class="field">
    <%= f.label :marka_id %><br />
    <% marka_array = Marka.all.map { |mod| [mod.name, mod.id] } %>
    <%= f.select(:marka_id, marka_array) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
