<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @car.user.first_name %>
</p>

<p>
  <b>Marka:</b>
  <%= @car.marka.name %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
